@import '../../../assets/style/variable';

:host {
  width: 100%;
  display: flex;

  .contact {
    display: flex;
    gap: 1rem;

    &__item {
      &__icon {
        color: $mainColor;
        cursor: pointer;
        transition: all .3s;

        &:hover {
          color: $mainColorDark;
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
