//color
$mainColor: #6bbe21;
$mainColorDark: #469400;
$mainColorFont: #244d01;
$mainColorLight: #8ad646;
$mainColorExtraLight: #d4ecbf;
$backgroundColor: #fff;


//size
$maxAppSize: 1200px;
$minIconSize: 2rem;
$maxFormWidth: 500px;
