@import '../../../assets/style/variable';


:host {
  @extend %popUp;

  .disable {
    pointer-events: none;
    opacity: .4;
  }

  .fieldError {
    border-bottom-color: $contrastColor;
  }

  .contact-pop-up {
    width: 100%;
    max-width: $maxFormWidth;
    padding: 1.625rem;
    display: flex;
    flex-direction: column;
    background-color: $backgroundColor;
    border-radius: 0.5rem;

    &__cross {
      @extend %cross;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 200;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;

      &__group {
        position: relative;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;

        &__label {
          font-weight: 300;
          padding-bottom: 0.6rem;

          &::first-letter {
            text-transform: uppercase;
          }

          span {
            color: $contrastColorDark;
          }
        }

        &__field {
          padding: 0.4rem;
          border: none;
          outline: none;
          border-bottom: 1px solid $mainColorLight;
          color: $mainColorFont;

          &:focus {
            border: none;
            border-bottom-color: $mainColorDark;
          }

          &::placeholder {
            color: $mainColorLight;
          }
        }

        &__phone-plus {
          position: absolute;
          bottom: $plusPadding;
          left: $plusPadding;
        }

        &__field-phone {
          padding-left: calc($plusPadding * 3);
        }
      }

      &__button-wrap {
        width: 100%;
        padding-top: 1rem;
        display: flex;
        justify-content: flex-end;

        &__submit {
          min-width: 6rem;
          padding: 0.6rem 0;
          border-radius: 0.2rem;
          background: $mainColor;
          color: $mainColorExtraLight;
          text-transform: uppercase;
          transition: .3s;

          &:hover {
            background: $mainColorDark;
          }
        }
      }

    }
  }
}
