@import '../../../assets/style/variable';

:host {
  @extend %popUp;

  .contact-pop-up {
    width: 100%;
    max-width: $maxFormWidth;
    padding: 1.625rem;
    display: flex;
    flex-direction: column;
    background-color: $backgroundColor;
    border-radius: 0.5rem;

    &__cross {
      @extend %cross;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }
}
