<div
  *ngIf="mode"
  class="contact-pop-up">
  <div
    class="contact-pop-up__cross"
    (click)="close()"></div>
  <h3 class="contact-pop-up__title">{{mode.mode}} Contact</h3>
  <form
    class="contact-pop-up__form"
    [formGroup]="newContactForm"
    (submit)="submit()">
    <div class="contact-pop-up__form__group">
      <label>{{formField.name}}</label>
      <input
        [ngClass]="{'fieldError': name.invalid}"
        type="text"
        formControlName="name" />
    </div>
    <div class="contact-pop-up__form__group">
      <label>{{formField.phone}}</label>
      <input
        [ngClass]="{'fieldError': phone.invalid}"
        type="text"
        formControlName="phone" />
    </div>
    <div class="contact-pop-up__form__group">
      <label>{{formField.job}}</label>
      <input
        [ngClass]="{'fieldError': job.invalid}"
        type="text"
        formControlName="job" />
    </div>
    <div class="contact-pop-up__form__group">
      <label>{{formField.birthDate}}</label>
      <input
        [ngClass]="{'fieldError': birthDate.invalid}"
        type="date"
        formControlName="birthDate" />
    </div>
    <div class="contact-pop-up__form__button-wrap">
      <button
        [ngClass]="{'contact-pop-up__form__button-wrap__submit': true, 'disable': newContactForm.invalid}">{{mode.mode}}</button>
    </div>
  </form>
</div>
