<section class="contacts">
  <ng-container
    *ngIf="isPopUpOpen$ | async">
    <app-contact-pop-up></app-contact-pop-up>
  </ng-container>
  <div class="contacts__title">
    <h2>Contacts</h2>
    <i
      class="fa-solid fa-file-circle-plus contacts__title__icon"
      (click)="showContactPopUp()"></i>
  </div>
  <ul
    class="contacts__list"
    *ngIf="contacts$ | async as contacts">
    <app-contact
      *ngFor="let contact of contacts; index as i; trackBy: trackByFn"
      [contact]="contact"
      [number]="i + 1">
    </app-contact>
  </ul>
</section>
